google-shopping-merchant-accounts==0.3.6
google-shopping-merchant-datasources==0.1.11
google-shopping-merchant-inventories==0.1.16
google-shopping-merchant-notifications==0.1.9
google-shopping-merchant-ordertracking==0.1.1
google-shopping-merchant-products==0.2.7
google-shopping-merchant-productstudio==0.1.1
google-shopping-merchant-promotions==0.1.9
google-shopping-merchant-quota==0.1.9
google-shopping-merchant-reports==0.1.17
google-shopping-merchant-reviews==0.2.0
google-auth-oauthlib
google-auth
googleapis-common-protos