google-shopping-merchant-accounts==0.2.3
google-shopping-merchant-datasources==0.1.6
google-shopping-merchant-inventories==0.1.12
google-shopping-merchant-notifications==0.1.6
google-shopping-merchant-products==0.2.0
google-shopping-merchant-promotions==0.1.5
google-shopping-merchant-quota==0.1.6
google-auth-oauthlib
google-auth
googleapis-common-protos